{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "react-native", "jest"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
